.markdown {
  /* 原始代码：@apply text-lg leading-relaxed; */
  /* text-lg (约18px), leading-relaxed (行高宽松) */
  @apply text-2xl leading-relaxed;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  /* my-6: 段落间距均为 1.5rem (24px)，可修改为 my-8 或 my-4 */
  @apply my-6;
}

.markdown h2 {
  /* text-3xl: 30px, mt-12: 上边距, mb-4: 下边距 */
  @apply text-5xl mt-12 mb-4 leading-snug;
}

.markdown h3 {
  /* text-2xl: 24px, mt-8: 上边距, mb-4: 下边距 */
  @apply text-3xl mt-8 mb-4 leading-snug;
}
